/**
    Name: MMT theme
*/
.keyword { color: rgb(223, 0, 0); margin-right: 5pt; }
.uri { color: rgb(4, 99, 1); }
.name { color: rgb(0, 0, 0); }
.operator { color: rgb(88, 94, 100); margin-left: 5pt; margin-right: 5pt; }


.cm-s-mmt span.cm-def { line-height: 1em; font-weight: bold; color: rgb(226, 79, 21); }
.cm-s-mmt span.cm-keyword { line-height: 1em; font-weight: bold; color: rgb(0, 77, 165); }
.cm-s-mmt span.cm-variable { color: rgb(0, 0, 0); }
.cm-s-mmt span.cm-variable-2 { color: #0479c7; font-style: italic; }
.cm-s-mmt span.cm-type { color: white; }
.cm-s-mmt span.cm-operator { color: rgb(92, 0, 134); font-weight: bold; }
.cm-s-mmt span.cm-string { color: rgb(44, 155, 30); }
.cm-s-mmt span.cm-string-2 { color: #6A8759; }
.cm-s-mmt span.cm-comment { color: #bd1212; font-style: italic; }
.cm-s-mmt span.cm-link { color: #287BDE; }
.cm-s-mmt span.cm-atom { font-weight: bold; color: #CC7832; }
.cm-s-mmt span.cm-error { color: rgb(255, 4, 0); }
.cm-s-mmt span.cm-tag { color: #CC7832; }
.cm-s-mmt span.cm-meta { color: rgb(226, 79, 21); }
.cm-s-mmt span.cm-attribute { color: #6A8759; }
.cm-s-mmt span.cm-qualifier { color: #6A8759; }
.cm-s-mmt span.cm-bracket { color: rgb(0, 0, 0); }
.cm-s-mmt span.cm-separator { color: rgb(209, 67, 10); }
.cm-s-mmt span.cm-builtin { color: rgb(18, 85, 156); }
.cm-s-mmt span.cm-number { color: rgb(179, 35, 35); }

.cm-s-mmt span.cm-objectDelimiter { color: rgb(255, 0, 191); }
.cm-s-mmt span.cm-declarationDelimiter { color: rgb(27, 60, 95); }
.cm-s-mmt span.cm-moduleDelimiter { color: rgb(122, 15, 96); }
.cm-s-mmt span.cm-separator { color: rgb(209, 67, 10); }

.cm-s-mmt.CodeMirror { background:  #f7f7f7; color: rgb(0, 0, 0); } 


.cm-s-mmt .CodeMirror-cursor { border-left: 1px solid rgb(49, 49, 49); }
.cm-s-mmt .CodeMirror-activeline-background { background-color: #08599c49; }
.cm-s-mmt div.CodeMirror-selected { background: #08599c49; }
.cm-s-mmt .CodeMirror-gutters { background: #9e9e9e; border-right: 1px solid #aaa; }
.cm-s-mmt .CodeMirror-linenumber { color: #3f3f3f; }


.cm-s-mmt .CodeMirror-matchingbracket { background-color: #f7f7f7; color: rgb(34, 252, 6) ; font-weight: bold;}
/** for borders around brackets width: 1px; border: solid black 0.1px; */
.CodeMirror-hints.mmt {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #9c9e9e;
  background-color: #3b3e3f !important;
}

.CodeMirror-hints.mmt .CodeMirror-hint-active {
  background-color: #494d4e !important;
  color: #9c9e9e !important; /**#9c9e9e !important; color: #A9B7C6*/ 
}